* {
    box-sizing: border-box;
     border: 1px solid red !important; 
}
.row:after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
html {
    font-family: "Lucida Sans", sans-serif;
}
/*img, object, video {
    width: 100%;
    height: auto;
    max-width: 100%;
}*/

/* tap targets */
nav a, button {
  min-width: 1.5em;
  min-height: 1.5em;
}
div.header {
  background-color: #F1EAEA;
  height: 2em;
  border: .062em dotted black;
  padding: .5em;
  margin-bottom: 1em;
}

img.profile {
  /*clear: left;*/
  border-radius: 50%;
  /* border: .75em solid #FF0026;
  width: 100%;
  height: auto;*/
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: .125em dotted black;
  margin-left: 2.5em;
}
.fronts {
  text-align: center;
  font-size: xx-large;
  /*vertical-align: bottom;
  position: relative;
}*/
span.small {
  font-size: xx-small;
  font-style: italic;
}
ul {
  list-style-type: none;
  margin-bottom: 1em;
}
li {
  margin-top: .5em;
}
.footer {
  text-align: center;
  margin-top: 1em;
}


/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

/*  tag line becasue with make you perfect*/

body{
  /* background: #FDF9F9; */
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #171414;
}
.tagline {
  /*margin-top: 100px;*/
  text-align: center;
  font-size: .75em;
  float: right;
}
.change-container {
  position: relative;
  display: inline-block;
  width: 7em;
  border-bottom:0.125em solid red;
  margin-bottom:-10px;
}
.changing {
  position:absolute;
  overflow:hidden;
  display: inline-block;
  color:red;
  width:100%;
  left:0;
  bottom:0;
  height:0;
  opacity:0;
  text-rendering:optimizeLegibility;
  animation : revealNextWord 8s ease-in-out infinite;
}

.changing:nth-child(2) {
  animation-delay:2s;
}
.changing:nth-child(3) {
  animation-delay:4s;
}
.changing:nth-child(4) {
  animation-delay:6s;
}

@keyframes revealNextWord {
    0% { opacity: .3; height: 0; }
    10% { opacity: 1; height: 1.2em; }
    20% { opacity: 1; height: 1.2em; }
    28% { opacity: 0; height:2em;}
    100% { opacity: 0; }
 

 @media screen and (min-width: 500px) {
    /* For tablets: */
    .col-m-12 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
    /*body { background-color: black; }*/
    .tagline {
      float: right;
    }
}

@media screen and (min-width: 800px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    body { background-color: red ;}
}   