<!doctype html>
<html>
<head>
	<title>Jeff Reiher</title>
	<link rel="stylesheet" href="animate.min.css">
	<link rel="stylesheet" href="styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="textillate/jquery.textillate.js"></script>
	<script src="jquery.lettering-0.6.1.min.js"></script>
	<script src="app.js"></script>
</head>

<body>
<div class="grid">
	<div class="row">
		<div class="col-12 front">

			<h1 class="tlt" data-out-effect="fadeInLeftBig" >I'm Jeff Reiher</h1>
			
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<div class="svg">
				<a class="button" href="#">
					<svg>
						<rect height="40" width="130" fill="transparent" />
					</svg>
					<span>Enter</span>
				</a>
			</div> 
		</div>
	</div>

	
</div>
</body>

</html>