* {
    /*border: 1px solid red !important;*/
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

body {
  background: #26a9df;
  color: #fff;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin: 0 auto;
  top: 50%;
  width: 100%;
  text-align: center;
}

.front {
 /* position: absolute;
  left: 0;
  /*top: 500px;*/
  margin-top: 250px;
  margin-bottom: 0;
  /*margin-top: -4vmin;*/
  /*font-size: 45px;*/
  background: #25a4d9;
  padding: 2vmin 0;
  text-shadow: 0.15vmin 0.15vmin rgba(0, 0, 0, 0.5);
}

.tlt {
    font-size: 45px;
}




/* front page button styles */
a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Helvetica;
}



svg {
    width: 130px;
    height: 40px;
}


.svg,
.highlight {
    max-width: 960px;
    margin:0 auto;
}



.button {
    display: inline-block;
    width: 130px;
    height: 40px;
    line-height: 40px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    /* border: 2px solid crimson; */
    transition: color .5s;
}



.svg .button {
    text-decoration: none;
    color: #fff;
    position: relative;
    display: inline-block;
    width: 130px;
    height: 40px;
    margin: 20px;
    overflow: hidden;
}

.svg .button:nth-child(3) {
    overflow: visible;
    position: relative;
    top: -20px;
}

.svg .button rect {
    position: absolute;
    top: 0;
    left: 0;
    stroke-width: 4px;
    stroke-dashoffset: 400px;
    stroke: #E43E5C;
}

.svg .button span {
    color: white;
    width: 130px;
    height: 40px;
    display: inline-block;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 40px;
    transition: all .2s linear;
}

.svg .button span:hover {
    color: #fff;
    background: #E43E5C;
    transition: all 1s cubic-bezier(1.25s 0, 1.15, 1, 1);
    transition-delay: .5s;
}

.svg .button:nth-child(1):hover rect {
    animation: draw1 .75s linear forwards;
}

.svg .button:nth-child(2):hover rect {
    animation: draw2 .75s linear forwards;
}

.svg .button:nth-child(3) span {
    border: 3px solid #E43E5C;
    transform: scale(1);
    width: 125px;
    height: 35px;
    line-height: 37px;
}

.svg .button:nth-child(3):hover span {
    animation: draw3 .75s linear forwards;
}

@keyframes draw1 {
    0% {
        stroke-dasharray: 300;
        stroke-dashoffset: 700;
        stroke-width: 4px;
    }
    75% {
        stroke-dasharray: 900;
        stroke-width: 1px;
    }
    100% {
        stroke-dasharray: 900;
        stroke-width: 1px;
    }
}

@keyframes draw2 {
    0% {
        stroke-dashoffset: 350;
        stroke-dasharray: 350;
    }
    50% {
        stroke-dashoffset: 600;
        stroke-dasharray: 400;
        stroke-width: 1px;
    }
    100% {
        stroke-dashoffset: 900;
        stroke-dasharray: 400;
        stroke-width: 1px;
    }
}

@keyframes draw3 {
    100% {
        transform: scale(1.35);
    }
}
/* HIGHLIGHT */



