<!doctype html>
<html>
<head>
	<title>JR</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/base-min.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">

	<link rel="stylesheet" href="../static/front.css">
	<style>
    		* {
    		border: 1px solid red !important;
		    -webkit-box-sizing: border-box;
		    -moz-box-sizing: border-box;
		    -ms-box-sizing: border-box;
		    box-sizing: border-box;
		}
	</style>
</head>

<body>
	

		<div class="pure-g">
			<div class="pure-u-md-4-24">
				<img src="http://placehold.it/150x150">
			</div>
			<div class="pure-u-1 pure-u-md-6-24 fronts">Jeff Reiher <span>web developer</span>
			</div>
			<div class="pure-u-1 pure-u-md-14-24">
				 <h1 class="tagline">... because 
				  <span class="change-container">
				    <span class="changing">exercises</span> 
				    <span class="changing">practice</span> 
				    <span class="changing">mentoring</span> 
				    <span class="changing">iterations</span> 
				  </span>
				  will make you perfect</h1>
			</div>
		</div>
		<hr>

		<div class="pure-g">
			<div class="pure-u-1 pure-u-md-1-2 click-to-call">
				<img class="pure-img" src="http://placehold.it/350x65">
			</div>
			<div class="pure-u-1 pure-u-md-1-2 click-to-text">
				<img class="pure-img" src="http://placehold.it/350x65">
			</div>

		</div>

		<div class="pure-g">
			<div class="pure-u-1 pure-u-md-1-2 info">
				<ul>Who I am?
					<li>1</li>
					<li>2</li>
					<li>3</li>
				</ul>
			</div>

			<div class="pure-u-1 pure-u-md-1-2 info">
				<ul>Who I like to work on?
					<li>1</li>
					<li>2</li>
					<li>3</li>
				</ul>
			</div>
		</div>

		<div class="pure-g footer">
			<div class="pure-u-1">
				<hr>
				<a href="#">Github</a> | <a href="#">twitter</a> | <a href="#">facebook</a> <br>email: me@jeffreiher.com 
			</div>

		</div>






	
</body>

</html>