<!doctype html>
<html>
<head>
	<title>JR</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<!-- <link rel="stylesheet" href="../static/front.css"> -->
	<link rel="stylesheet" href="../static/front-mobile.css">
</head>

<body class="mobile">
	<div class="grid-m">
		<div class="row-m">
			<div class="col-12-m">
				 <h1 class="tagline">... because 
				  <span class="change-container">
				    <span class="changing">exercises</span> 
				    <span class="changing">practice</span> 
				    <span class="changing">mentoring</span> 
				    <span class="changing">iterations</span> 
				  </span>
				  will make you perfect</h1>
			</div>
		</div>

		<div class="row-m">
			<div class="col-12-m">
				<img class="mobile-img" src="http://placehold.it/150x150">
			</div>
		</div>
		<div class="row-m">
			<div class="col-12-m fronts-m">Jeff Reiher <span>web developer</span>
			</div>
		</div>
		<hr>

		<div class="row-m">
			<div class="col-12-m ">
				<button class="click-to-call" ><i class="fa fa-phone"></i>&nbsp;Call Me</button>
			</div>
		</div>
		<div class="row-m">
			<div class="col-12-m click-to-text">
				<button><i class="fa fa-file-text"></i>&nbsp;Text Me</button>
			</div>

		</div>

		<div class="row-m">
			<div class="col-12-m info">
				<ul>Who I am?
					<li>1</li>
					<li>2</li>
					<li>3</li>
				</ul>
			</div>
		</div>
		<div class="row-m">
			<div class="col-12-m info">
				<ul>Who I like to work on?
					<li>1</li>
					<li>2</li>
					<li>3</li>
				</ul>
			</div>
		</div>

		<div class="row-m footer">
			<div class="col-12-m">
				<hr>

				<button class="social"><a href="#"><i class="fa fa-github-square"></i>&nbsp; Github</a></button> <button class="social"><a href="#"><i class="fa fa-twitter"></i>&nbsp;twitter</a></button><button class="social"><i class="fa fa-facebook-official"></i><a href="#">&nbsp;facebook</a></button> <br>email: me@jeffreiher.com 
			</div>

		</div>






	</div>

</body>

</html>