<!doctype html>
<html>
<head>
	<title>JR</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="../static/front.css">
</head>

<body>
	<div class="container">

			<div class="profile_pic">
			<img src="http://placehold.it/150x150">
			</div>
			<div class="profile_name">Jeff Reiher <span style="font-size: x-small">web developer</span></div>
			
			<!-- <div>
				 <h1 class="tagline">... because 
				  <span class="change-container">
				    <span class="changing">exercises</span> 
				    <span class="changing">practice</span> 
				    <span class="changing">mentoring</span> 
				    <span class="changing">iterations</span> 
				  </span>
				  will make you perfect</h1>
			</div> -->
			<div class="divide"><hr></div>
		
		
			<div class="click-to-call">
				<button>Call Me</button>
			</div>
			<div class="click-to-text">
				<button>Text Me</button>
			</div>

		

		<div>
			<div class="info">
				<ul>Who I am?
					<li>Lorem ipsum dolor sit amet, an mei stet impetus. Suas prodesset ea vis, eum ad etiam paulo primis. In primis albucius duo, id nec sententiae posidonium. Has te nemore nusquam consectetuer, probo autem similique te mei. An feugiat consequat theophrastus nec, no qui salutandi voluptatibus.</li>
					<li>Et vix semper concludaturque, et nam omnes accumsan, no omnium assentior persecuti mei.</li>
					<li>Sale salutatus voluptatibus qui eu, cum essent dissentiet ei. Sed te ipsum impetus, an virtute vituperata sit</li>
				</ul>
			</div>

			<div class="info">
				<ul>Who I like to work on?
					<li>Tantas dolore evertitur ex eam.1</li>
					<li> No mel velit sonet labitur, duo erat vocent percipitur ad. Nam erant repudiandae cu. Eu eos purto ridens habemus.</li>
					<li>Has nostro accusata interesset et. Duo repudiare assueverit te, utamur reformidans no per.</li>
				</ul>
			</div>
		</div>

		<div class="footer">
			
				<div class="divide"><hr></div>
				<a href="#">Github</a> | <a href="#">twitter</a> | <a href="#">facebook</a> <br><p>Email: me@JeffReiher.com <p>
			

		</div>





	</div>

</body>

</html>